<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>My Profile - Songify</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" href="images/icons/oie_transparent.png"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header" style="padding-bottom: 0px">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index">
                        <img src="images/cbm7z-0i5cb.svg" alt="Homepage" style="object-fit: cover;">
                    </a>
                </div> <!-- end header__logo -->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="index" title="">Services</a></li>
                        <li class="has-children">
                            <a href="#0" title="">My Profile</a>
                            <ul href="0" class="sub-menu">
                                <li><a href="/editProfile">Edit Profile</a></li>
                                <li><a href="customerRequests">Request</a></li>
                                <li><a href="transaction">Transaction</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content" style="padding-top: 50px; padding-bottom: 50px">
        <div class="container bootstrap snippet">
            <div class="panel-body inf-content">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h1>Profile Information</h1><br>
                        <div class="table-responsive">
                        <table id="id02" class="table table-condensed table-responsive table-user-information">
                            <tbody>
                                <tr>    
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>    
                                            Firstname                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                       <%= customer.firstname %>     
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                            Lastname                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <%= customer.lastname %>  
                                    </td>
                                </tr>

                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                            Username                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <%= customer.username %> 
                                    </td>
                                </tr>

                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                            Email                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <%= customer.email %>  
                                    </td>
                                </tr>                                 
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <body>
        <center>
       
          <button onclick="document.getElementById('id01').style.display='block';
          document.getElementById('id02').style.display='none'" class="w3-button w3-black">Edit Profile</button>
        
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none';
                document.getElementById('id02').style.display='block'
                " class="w3-button w3-display-topright">&times;</span>
                <h1>Edit profile</h1>
                  
                  
                <form name="cForm" id="cForm" method="POST" action="/editProfile">
                    <fieldset>

                        <div class="form-field">
                            <input name="firstname" type="text" id="fName" class="full-width" placeholder="First Name" value=" <%= customer.firstname %> ">
                        </div>
                        
                        <div class="form-field">
                            <input name="lastname" type="text" id="lName" class="full-width" placeholder="Last name" value="<%= customer.lastname %>">
                        </div>
                        
                        <div class="form-field">
                            <input name="username" type="text" id="userName" class="full-width" placeholder="Username" value="<%= customer.username %>">
                        </div>
                        
                        <div class="form-field">
                            <input name="password" type="password" id="newPwd" class="full-width" placeholder="New Password" value="<%= customer.password %>">
                        </div>
                        
                        <div class="form-field">
                            <input name="password" type="password" id="reEnterPwd" class="full-width" placeholder="*Retype New Password" value="<%= customer.password %>">
                        </div>

                        <div class="form-field">
                            <input name="email" type="text" id="email" class="full-width" placeholder="Your Email" value="<%= customer.email %>  ">
                        </div>

                        <button type="submit" class="submit btn btn--primary full-width">Save</button>

                    </fieldset>
                </form> <!-- end form -->
                  
                  
              </div>
            </div>
          </div>

    </section> <!-- s-content -->      

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>