include header.html

                tr
                  td
                    strong
                      span.glyphicon.glyphicon-user.text-primary
                      |                                             Firstname
                  td.text-primary
                    | td #{customer.firstname}
                tr
                  td
                    strong
                      span.glyphicon.glyphicon-cloud.text-primary
                      |                                             Lastname
                  td.text-primary
                    | td #{customer.lastname}
                tr
                  td
                    strong
                      span.glyphicon.glyphicon-bookmark.text-primary
                      |                                             Username
                  td.text-primary
                    | td #{customer.username}
                tr
                  td
                    strong
                      span.glyphicon.glyphicon-envelope.text-primary
                      |                                             Email
                  td.text-primary
                    | td #{customer.email}
                tr
                  td
                    strong
                      span.glyphicon.glyphicon-envelope.text-primary
                      |                                             Address
                  td.text-primary
                    | td #{customer.address}

include footer.html